@import 'tailwindcss';

.font-roboto {
  font-family: roboto;
}

.font-inter {
  font-family: inter;
}

html, body {
  overflow: auto;       /* keep scrolling enabled */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
/* Example usage */
.scrollable {
  overflow-y: scroll; /* still scrollable */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

.home-block {
  min-height: 100vh;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}
li > p {
  display: inline;
}

/* Styling the wrapper element added by tiptap-extension-resize-image */
.ProseMirror .image-view-wrapper.float-left {
  float: left;
  margin-right: 15px;
}
.ProseMirror .image-view-wrapper.float-right {
  float: right;
  margin-left: 15px;
}
.ProseMirror .image-view-wrapper.float-none {
  float: none;
  margin: 0;
}

